# Virtualenv
/.venv/
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
/bin/
/build/
/develop-eggs/
/dist/
/eggs/
/lib/
/lib64/
/output/
/parts/
/sdist/
/var/
/*.egg-info/
/.installed.cfg
/*.egg
/.eggs

# AUTHORS and ChangeLog will be generated while packaging
/AUTHORS
/ChangeLog

# BCloud / BuildSubmitter
/build_submitter.*
/logger_client_log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
/docs/_build/

.idea

# Others
.ipynb_checkpoints/
.ipynb_checkpoints/*
**/.ipynb_checkpoints/
.vscode/
checkpoints/

.github/copilot-instructions.md

**ckpts/**
ckpts
*.egg-info/


**/ax_**


run_docker_local.sh
LLaVA-OneVision-1.5-2B-stage0
stage_1_alignment_llava_ov_2b_release
stage_1.5_mid_training_llava_ov_2b_85m
stage_1.5_mid_training_llava_ov_2b_85m_v2
stage_1.5_mid_training_llava_ov_2b_85m_v3
tools/video2frame
dataset_mid
examples/llava_ov_1_5/quick_start_2b/stage_1.5_mid_training_llava_ov_2b_85m.sh
examples/llava_ov_1_5/quick_start_2b/stage_1.5_mid_training_llava_ov_2b_85m_v2.sh
examples/llava_ov_1_5/quick_start_2b/stage_1.5_mid_training_llava_ov_2b_85m_v3.sh
examples/llava_ov_1_5/quick_start_8b/
stage_1.5_mid_training_llava_ov_4b
stage_1.5_mid_training_llava_ov_8b
tools/data_preprocess/s5_convert_to_webdataset.py
nextqa
examples/llava_onevision2/quick_start_video_2b/output/instruct_video




examples/llava_onevision2/quick_start_video_2b/*.yaml

tools/validate_jsonl.py
examples/llava_onevision2/grounding*


examples/llava_onevision2/qwen3_4b/mix_*